.App {
  text-align: center;
}

.bg-container {
  background-image: lightgray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.heading {
  color: #690cb0;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
}

.paragraph {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 30px;
}

.img {
  height: 50px;
}

.card {
  background-color:lightblue;
  border-radius: 20px;
  border-color: #9aa5b1;
  width:60%;
  padding:10px;
}

.display-text {
  color: #3e4c59;
  font-weight: bold;
}

.text {
  color: #323f4b;
  border-radius: 5px;
  border-color: orange;
  font-weight: bold;
  padding:20px;
}

.button1 {
  background-color: #690cb0;
  height: 40px;
  width: 80px;
  border-width: 0px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto"

}

.button {
  font-size: 15px;
  background-color: #ffffff;
  height: 40px;
  width: 80px;
  border-width: 1px;
  border-radius: 8px;
  margin-left:10px;
  color: #323f4b;
  font-family: "Roboto"

}
.timer-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-card{
  display: flex;
  justify-content: center;
  
}
#timer{
  margin-left:10px;
}